@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=block');

:root {
	--c-background-h: 240;
	--c-background-s: 20%;
	--c-background-l: 96%;
	--c-background-hsl: var(--c-background-h), var(--c-background-s), var(--c-background-l);
	--c-background: hsl(var(--c-background-hsl));
	--c-background: hsl(var(--c-background-hsl));

	--c-foreground-h: 266;
	--c-foreground-s: 35%;
	--c-foreground-l: 19%;
	--c-foreground-hsl: var(--c-foreground-h), var(--c-foreground-s), var(--c-foreground-l);
	--c-foreground: hsl(var(--c-foreground-hsl));

	--c-primary-h: 266;
	--c-primary-s: 35%;
	--c-primary-l: 45%;
	--c-primary-hsl: var(--c-primary-h), var(--c-primary-s), var(--c-primary-l);
	--c-primary: hsl(var(--c-primary-hsl));

	--c-state-h: 178;
	--c-state-s: 60%;
	--c-state-l: 50%;
	--c-state-hsl: var(--c-state-h), var(--c-state-s), var(--c-state-l);
	--c-state: hsl(var(--c-state-hsl));

	--c-covid-h: 356;
	--c-covid-s: 50%;
	--c-covid-l: 45%;
	--c-covid-hsl: var(--c-covid-h), var(--c-covid-s), var(--c-covid-l);
	--c-covid: hsl(var(--c-covid-hsl));

	--c-positive-h: 222;
	--c-positive-s: 75%;
	--c-positive-l: 50%;
	--c-positive-hsl: var(--c-positive-h), var(--c-positive-s), var(--c-positive-l);
	--c-positive: hsl(var(--c-positive-hsl));

	--gradient-no-data: repeating-linear-gradient(-45deg,
		#f2f2f2,
		#f2f2f2 0.5em,
		#e8e8e8 0.5em,
		#e8e8e8 1em
	);
	--gradient-no-data-legend: repeating-linear-gradient(-45deg,
		#f2f2f2,
		#f2f2f2 0.25em,
		#e8e8e8 0.25em,
		#e8e8e8 0.5em
	);

	font-family: 'IBM Plex Sans',
		-apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: clamp(12px, min(1.3vw, 1.7vh), 18px);
	line-height: 1.25;

	color-scheme: light /* dark */;
	color: var(--c-foreground);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	background-color: var(--c-background);
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
*:focus { outline: none; }
*:focus-visible { outline: none; } /* oof */

a {
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #747bff;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

ul, ol {
	padding-left: 1em;
}

#app {
	height: 100vh;
	max-width: 2200px;
	margin: 0 auto;
	padding: 1rem;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: rgba(255, 255, 255, 0.87);
		background-color: #242424;
	}
	a:hover {
		color: #535bf2;
	}
	button {
		background-color: #1a1a1a;
	}
} */
