:root {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light /* dark */;
	color: #213547;
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--c-primary-h: 266;
	--c-primary-s: 35%;
	--c-primary-l: 19%;
	--c-primary-hsl: var(--c-primary-h), var(--c-primary-s), var(--c-primary-l);
	--c-primary: hsl(var(--c-primary-hsl));

	--c-restaurants-h: 220;
	--c-restaurants-s: 89%;
	--c-restaurants-l: 50%;
	--c-restaurants-hsl: var(--c-restaurants-h), var(--c-restaurants-s), var(--c-restaurants-l);
	--c-restaurants: hsl(var(--c-restaurants-hsl));

	--c-hotels-h: 292;
	--c-hotels-s: 69%;
	--c-hotels-l: 45%;
	--c-hotels-hsl: var(--c-hotels-h), var(--c-hotels-s), var(--c-hotels-l);
	--c-hotels: hsl(var(--c-hotels-hsl));

	--c-bars-h: 184;
	--c-bars-s: 45%;
	--c-bars-l: 50%;
	--c-bars-hsl: var(--c-bars-h), var(--c-bars-s), var(--c-bars-l);
	--c-bars: hsl(var(--c-bars-hsl));

	--c-covid-h: 356;
	--c-covid-s: 50%;
	--c-covid-l: 45%;
	--c-covid-hsl: var(--c-covid-h), var(--c-covid-s), var(--c-covid-l);
	--c-covid: hsl(var(--c-covid-hsl));
}

body {
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
*:focus { outline: none; }
*:focus-visible { outline: auto; }

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #747bff;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: rgba(255, 255, 255, 0.87);
		background-color: #242424;
	}
	a:hover {
		color: #535bf2;
	}
	button {
		background-color: #1a1a1a;
	}
} */
