:root {
	--c-background-h: 240;
	--c-background-s: 20%;
	--c-background-l: 96%;
	--c-background-hsl: var(--c-background-h), var(--c-background-s), var(--c-background-l);
	--c-background: hsl(var(--c-background-hsl));
	--c-background: hsl(var(--c-background-hsl));

	--c-foreground-h: 266;
	--c-foreground-s: 35%;
	--c-foreground-l: 19%;
	--c-foreground-hsl: var(--c-foreground-h), var(--c-foreground-s), var(--c-foreground-l);
	--c-foreground: hsl(var(--c-foreground-hsl));

	--c-primary-h: 266;
	--c-primary-s: 35%;
	--c-primary-l: 45%;
	--c-primary-hsl: var(--c-primary-h), var(--c-primary-s), var(--c-primary-l);
	--c-primary: hsl(var(--c-primary-hsl));

	--c-state-h: 184;
	--c-state-s: 45%;
	--c-state-l: 50%;
	--c-state-hsl: var(--c-state-h), var(--c-state-s), var(--c-state-l);
	--c-state: hsl(var(--c-state-hsl));

	--c-covid-h: 356;
	--c-covid-s: 50%;
	--c-covid-l: 45%;
	--c-covid-hsl: var(--c-covid-h), var(--c-covid-s), var(--c-covid-l);
	--c-covid: hsl(var(--c-covid-hsl));

	--c-positive-h: 110;
	--c-positive-s: 50%;
	--c-positive-l: 45%;
	--c-positive-hsl: var(--c-positive-h), var(--c-positive-s), var(--c-positive-l);
	--c-positive: hsl(var(--c-positive-hsl));

	--gradient-no-data: repeating-linear-gradient(-45deg,
		#f2f2f2,
		#f2f2f2 0.5em,
		#e8e8e8 0.5em,
		#e8e8e8 1em
	);
	--gradient-no-data-legend: repeating-linear-gradient(-45deg,
		#f2f2f2,
		#f2f2f2 0.25em,
		#e8e8e8 0.25em,
		#e8e8e8 0.5em
	);

	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
	font-size: 16px;
	line-height: 1.25;
	font-weight: 400;

	color-scheme: light /* dark */;
	color: var(--c-foreground);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
*:focus { outline: none; }
*:focus-visible { outline: auto; }

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #747bff;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

#app {
	height: 100vh;
	padding: 1rem;
	background-color: var(--c-background);
}

/* @media (prefers-color-scheme: dark) {
	:root {
		color: rgba(255, 255, 255, 0.87);
		background-color: #242424;
	}
	a:hover {
		color: #535bf2;
	}
	button {
		background-color: #1a1a1a;
	}
} */
